<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - NutriSync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>About NutriSync</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
    </nav>
    <div class="container">
        
        <h1>Welcome to NutriSync</h1>
        <p>Your all in one health hub
        Welcome to HealthTrack – your all-in-one solution for a healthier lifestyle! Take control of your well-being with personalized diet plans, AI-powered recipe recommendations, and real-time health tracking.</p>
    </div>
</body>
</html>

